@{
    Layout = "_Layout";
    Order order = new Order();
    decimal price = order.GetOrderPrice(Model[0].OrderId);
}

@model List<BlitzFlug.Models.OrderedTicket>

<div class="container">
    @if (0 == Model.Count)
    {
        <div class="text-center" style="margin-top: 150px">
            <h2>Заказ пуст</h2>
        </div>
    }
    else
    {
        <div class="text-center" style="margin-top: 150px">
            <h2>Заказ</h2>
        </div>
        <div>
        </div>
        <div class="text-center" style="margin-top: 25px">
            <h3>Стоимость заказа: @price.ToString("F") &#8381;</h3>
        </div>
        @for (var i = 0; i < Model.Count; ++i)
        {
            <form method="post">
                <div class="card text-left" style="margin-top: 20px">
                    <div class="card-body">
                        <h3 class="card-title">Пункт вылета: @Model[i].DeparturePoint</h3>
                        <h3 class="card-title">Дата и время вылета: @Model[i].DepartureDateTime.ToShortDateString() @Model[i].DepartureDateTime.ToShortTimeString()</h3>
                        <h3 class="card-title">Пункт прибытия: @Model[i].ArrivalPoint</h3>
                        <h3 class="card-title">Дата и время прибытия: @Model[i].ArrivalDateTime.ToShortDateString() @Model[i].ArrivalDateTime.ToShortTimeString() </h3>
                        <h3 class="card-title">Ряд: @Model[i].Row</h3>
                        <h3 class="card-title">Место: @Model[i].Place</h3>
                        <h3 class="card-title">Класс: @Model[i].Class</h3>
                        <h3 class="card-title">Стоимость: @Model[i].Price.ToString("F") &#8381;</h3>
                        @if (Model[i].Refund)
                        {
                            <button type="submit" asp-controller="Orders" asp-action="IssueRefund" asp-route-id="@Model[i].Id" class="btn btn-primary" style="margin-top: 15px">Оформить возврат</button>
                        }
                        <button type="submit" asp-controller="Services" asp-action="PurchasedServices" asp-route-id="@Model[i].Id" class="btn btn-primary" style="margin-top: 15px">Посмотреть добавленные услуги</button>
                        <button type="submit" asp-controller="Planes" asp-action="GetPlaneOrder" asp-route-id="@Model[i].PlaneId" class="btn btn-primary" style="margin-top: 15px">Самолет, выполняющий рейс</button>
                    </div>
                </div>
            </form>
        }
    }
</div>
