@{
    Layout = "_Layout";
}

@model BlitzFlug.Models.Ticket

<div class="container">
    @if (null == Model)
    {
        <div class="text-center" style="margin-top: 150px">
            <h2>Билет не найден</h2>
        </div>
    }
    else
    {
        <div class="text-center" style="margin-top: 150px">
            <h2>Информация о билете</h2>
        </div>
        <form method="post" asp-controller="Tickets" asp-action="DeleteTicket">
            <div class="card text-left" style="margin-top: 20px">
                <div class="card-body">
                    @Html.HiddenFor(m => m.Id)
                    <h3 class="card-title">ID: @Model.Id</h3>
                    <h3 class="card-title">ID рейса: @Model.FlightId</h3>
                    <h3 class="card-title">Ряд: @Model.Row</h3>
                    <h3 class="card-title">Место: @Model.Place</h3>
                    @if (Model.Refund)
                    {
                        <h3 class="card-title">Есть возможность возврата</h3>
                    }
                    else
                    {
                        <h3 class="card-title">Нет возможности возврата</h3>
                    }
                    <h3 class="card-title">Класс: @Model.Class</h3>
                    <h3 class="card-title">Стоимость: @Model.Price.ToString("F") &#8381;</h3>
                    @if (0 == Model.OrderId)
                    {
                        <button type="submit" class="btn btn-primary" style="margin-top: 15px; width: 250px">Удалить</button>
                    }
                </div>
            </div>
        </form>
    }
</div>
